extends ../layouts/main
block content
    .row
        .col.s12.m8
            h3= doc.title
            .card.story
                .card-content
                    span.card-title #{formatDate(doc.date,'MMMM Do YYYY')}
                    | !{doc.body}
            if(doc.allowComments)
                .card
                    .card-content
                        span.card-title Comments
                        if(user)
                            form(method="post" action="/docs/comment/"+ doc.id)
                                .input-field
                                    textarea.materialize-textarea(name="commentBody")
                                    label Add Comment
                                input.btn(type="submit" value="Submit")
                        else
                            P please 
                                a(href="/auth/google") login 
                                |to leave a comment
                each comment in doc.comments
                    .card
                        .card-content
                            h5=comment.commentBody
                            .chip
                                img(src=comment.commentUser.image)
                                | #{comment.commentUser.firstName} #{comment.commentUser.lastName}
                            br
                            small Posted: #{formatDate(comment.commentDate,'MMMM Do YYYY')}            
        .col.s12.m4
            .card.center-align
                .card-content
                    span.card-title #{doc.user.firstName} #{doc.user.lastName}
                    img.circle.responsive-img(src=doc.user.image)
                .card-action
                    a(href="/stories/user/"+ doc.user.id) More From #{doc.user.firstName}
